{% extends 'master.html' %}
{% load static %}
{%  block content %}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{% url 'home-url' %}">Home</a></li>
                <li>About Us</li>
            </ol>
            <h2 class="text-center">About Us</h2>

        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="{% static 'assets/img/aboutimage.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3 class="text-center text-success">UnashamedHeart Foundation Overview</h3>
                    <p class="fst-italic">
                        The UnashamedHeart Foundation is a non-profit organization dedicated to extending a helping hand to those in need within our community.
                        Our mission revolves around fostering positive and lasting change by addressing the various challenges faced by individuals and families.
                    </p>
                    <!--our mission-->
                    <h4 class="bi bi-check-circle text-center text-danger"> Our Mission</h4>
                    <p class="fst-italic">Our mission is to alleviate the struggles of the less fortunate, providing essential aid and support to meet their basic needs.</p>

                    <!--Our Vision-->
                    <h4 class="bi bi-check-circle text-center text-danger"> Our Vision</h4>
                    <p class="fst-italic">The vision of the UnashamedHeart Foundation is to create a society where every individual, regardless of their circumstances, has the opportunity to thrive and lead a dignified life. We envision a world where the needs of the most vulnerable are met,
                        and where compassion and support are extended to those facing adversity.</p>

                    <!--Our Ambition-->
                    <h4 class="bi bi-check-circle text-center text-danger"> Our ambition</h4>
                    <p class="fst-italic">The ambition of the UnashamedHeart Foundation is to be a beacon of hope and transformative change in the lives of those experiencing tough economic times. The ambition of the UnashamedHeart Foundation is to be a beacon of hope and
                        transformative change in the lives of those experiencing tough economic times. </p>

                </div>
            </div>

        </div>
    </section>
<!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <h3 class="text-center text-danger mb-4">Our Achievements</h3>
    <section id="counts" class="counts">
        <div class="container">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <span><i class="bi bi-emoji-smile "></i></span>
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter text-center"></span>
                        <p class="text-center"><strong>Visiting Children Homes</strong></p>

                        <p class="text-center">So far as the UnshamedHeart Foundation, we have made 150 home visits across Kenya
                            and in each home we've made donations worth Ksh100,000 and above.</p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <span class="text-center"><i class="bi bi-person-wheelchair"></i></span>
                        <span data-purecounter-start="0" data-purecounter-end="520" data-purecounter-duration="1" class="purecounter text-center"></span>
                        <p class="text-center"><strong>Stretching our love to people living with disability</strong></p>
                        <p class="text-center">
                            Donated over <strong>520 wheelchairs</strong> to the disabled in a span of six months.
                        </p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <span class="text-center"><i class="bi bi-building"></i></span>
                        <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter text-center"></span>
                        <p class="text-center"><strong>Helping Street Children</strong></p>
                        <p class="text-center">
                            So far we have managed to help over<strong> 500 street children</strong>. Some have been taken to rehabilitation centers, others to
                            children homes and others have gone back to school all this because of our foundation.
                        </p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <span class="text-center"><i class="bi bi-house-heart-fill"></i></span>

                        <span data-purecounter-start="0" data-purecounter-end="1700" data-purecounter-duration="1" class="purecounter text-center"></span>
                        <p class="text-center"><strong>Door to Door Donation</strong></p>
                        <p class="text-center">Conducted door-to-door donation where we have reached out to <strong>1700 elderly families</strong> across the country.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
<!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="section-title">
                <h2>Testimonials</h2>
                <p>The following are testimonials from several people whose lives have been touched by the UnashamedHeart Foundation. Their stories bear witness
                    to the impactful work and unwavering dedication of the foundation.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <img src="{% static 'assets/img/testimonials/testimonial5.jpeg' %}" class="testimonial-img" alt="">
                        <h3>Mercy Kipchoge</h3>
                        <h4>Single Mother</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "I am truly grateful for the support I received from the UnashamedHeart Foundation. As a single parent facing financial challenges, the foundation
                            stepped in with timely assistance that made a significant difference in my family's life."<br>
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4 mt-lg-0">
                        <img src="{% static 'assets/img/testimonials/testimonial6.jpeg' %}" class="testimonial-img" alt="">
                        <h3>James Karanja</h3>
                        <h4>Former Drug Addict</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "The UnashamedHeart Foundation has been a lifeline for me during a challenging period. As a man navigating unexpected hardships, I found solace and assistance from this incredible organization.
                            Their unwavering commitment to compassion and community support has made a lasting impact on my life."
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                {% if user.is_authenticated and user.is_admin %}
                {% endif %}

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4">
                        <img src="{% static 'assets/img/testimonials/test7.jpeg' %}" class="testimonial-img" alt="">
                        <h3>Titus Mutuku</h3>
                        <h4>Children's Home Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "As the owner of a children's home, I am deeply grateful for the tremendous support we've received from the UnashamedHeart Foundation. Their commitment to making a meaningful impact on the lives of vulnerable children is truly commendable. The foundation has consistently provided resources, financial assistance,
                            and emotional support to ensure the well-being and development of the children under our care."
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4">
                        <img src="{% static 'assets/img/testimonials/test9.jpeg' %}" class="testimonial-img" alt="">
                        <h3>Brandon Kimosop</h3>
                        <h4>Former Street Child</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "As a former street child, my life took a transformative turn, thanks to the invaluable support and educational funding provided by the UnashamedHeart Foundation. Their unwavering commitment to empowering underprivileged individuals has given
                            me the opportunity to break free from the cycle of poverty and envision a brighter future."<br>
                            <i class="bx bxs-quote-alt-right quote-icon-right "></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End Testimonials Section -->
</main>
<!-- End #main -->
{% endblock %}