{% extends 'master.html' %}
{%  load static %}
{% block content %}

<main id="main">

<!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="{% url 'home-url' %}">Home</a></li>
                    <li>Projects</li>
                </ol>

            </div>
        </section>
<!-- End Breadcrumbs -->


<!-- ======= Projects Section ======= -->
        <section id="skills" class="skills">
            <div class="container">

                <div class="section-title">
                    <h2>Our Projects</h2>
                    <p>As UnashammedHeart Foundation, we usually engage in various projects every year to ensure we impact the society through charity.</p>
                </div>
                <!--Children's home support section-->
                <section id="about" class="about">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/img/project/children.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3 class="text-center text-danger"> Bringing Joy and Support to Children's Homes</h3>
                                <p class="text-center fst-italic">
                                    In this initiative, we regularly visit children's homes, providing donations of clothing and food items while assisting with cleaning activities. Additionally, we actively
                                    participate in recreational games with the children, fostering an environment of joy and encouragement
                                </p>
                                <div class="text-center">
                                    <a href="{% url 'donate-url' %}" class=""><button class="btn btn-warning mt-3"><span class="donate-event-btn">Donate Now</span></button></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <!--End of Children's support section-->
                <!--Start of street children support section-->
                <section id="about" class="about">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/img/project/street1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3 class="text-center text-danger">Empowering Street Children</h3>
                                <p class="text-center fst-italic">
                                    In this project, we regularly reach out to underprivileged street children, providing them with essential necessities like food and clothing. Additionally,
                                    we collaborate with rehabilitation centers to offer them the support needed for a better future
                                </p>
                                <div class="text-center">
                                    <a href="{% url 'donate-url' %}" class=""><button class="btn btn-warning mt-3"><span class="donate-event-btn">Donate Now</span></button></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <!--end of street children support  section-->
                <!--start of door to door donation section-->
                <section id="about" class="about">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/img/project/elderly.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3 class="text-center text-danger">Door To Door Donation</h3>
                                <p class="text-center fst-italic">
                                    We conduct door-to-door outreach initiatives to ensure we reach and support the elderly in our community, leaving no one behind.
                                </p>
                                <div class="text-center">
                                    <a href="{% url 'donate-url' %}" class=""><button class="btn btn-warning mt-3"><span class="donate-event-btn">Donate Now</span></button></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <!--End of door to door donation section-->

            </div>
        </section>
    <!-- End Our Skills Section -->

    </main>
    <!-- End #main -->
{%  endblock %}